<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>319575500177-ena0beos16pt3lra9tmd4idmmg5q6dii.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.319575500177-ena0beos16pt3lra9tmd4idmmg5q6dii</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>319575500177-irg9dmq6p6evm28dt242fr48vbf5dqdd.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyC1mqYWzor-LYneOzNgdOzHNr8BpoI5-0A</string>
	<key>GCM_SENDER_ID</key>
	<string>319575500177</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.xomap.Datque</string>
	<key>PROJECT_ID</key>
	<string>datque-dating-and-steaming-app</string>
	<key>STORAGE_BUCKET</key>
	<string>datque-dating-and-steaming-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:319575500177:ios:8805253965e78c3039e630</string>
	<key>DATABASE_URL</key>
	<string>https://datque-dating-and-steaming-app-default-rtdb.firebaseio.com</string>
</dict>
</plist>